<div class="row">
<div class="col-md-3"></div>
<div class="col-md-6">
<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {class: "form-horizontal", method: :put }) do |f| %>
  
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :email, class: "col-lg-4" %>
    <div class="col-lg-9">
      <%= f.email_field :email, :autofocus => true, class: "form-control" %>
    </div>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="form-group">
    <%= f.label :username, class: "col-lg-4" %>
    <div class="col-lg-9">
      <%= f.text_field :username, :autofocus => true, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :password, class: "col-lg-4" %>
    <div class="col-lg-9">
      <%= f.password_field :password, :autocomplete => "off", placeholder: "leave blank if you don't want to change it", class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, class: "col-lg-4" %>
    <div class="col-lg-9">
      <%= f.password_field :password_confirmation, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :current_password, class: "col-lg-4" %>
    <div class="col-lg-9">
      <%= f.password_field :current_password, placeholder: "we need your current password to confirm your changes", class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-9">
    <%= f.submit "Update", class: "btn btn-default pull-left" %>
    </div>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy?</p> 
<%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => "btn btn-default pull-left" %>

</div>
<div class="col-md-3"></div>
</div>