<div class="row">
<div class="col-md-4"></div>
<div class="col-md-6">
<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: {class: "form-horizontal"}) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :email, class: "col-lg-4" %>
    <div class="col-lg-9">
      <%= f.email_field :email, :autofocus => true, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :username, class: "col-lg-4" %>
    <div class="col-lg-9">
      <%= f.text_field :username, :autofocus => true, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :password, class: "col-lg-4" %>
    <div class="col-lg-9">
      <%= f.password_field :password, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, class: "col-lg-4" %>
    <div class="col-lg-9">
      <%= f.password_field :password_confirmation, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-9">
    <%= f.submit "Sign up", class: "btn btn-default pull-left" %>
    </div>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
<div class="col-md-2"></div>
</div>