<div class="row">
<div class="col-md-3"></div>
<div class="col-md-6">
<h2 class="col-lg-offset-1">Forgot your password?</h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :class => "form-horizontal" }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :email, class: "col-lg-2 col-xs-1 control-label" %>
    <div class="col-lg-8 col-xs-8">
      <%= f.email_field :email, :autofocus => true, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10 col-sm-offset-1 col-xs-8">
      <%= f.submit "Send me reset password instructions", class: "btn btn-default pull-left" %>
    </div>
  </div>
<% end %>
<div class="form-group">
  <div class="col-lg-offset-2 col-lg-10 col-sm-offset-3 col-xs-6">
    <%= render "devise/shared/links" %>
  </div>
</div>
</div>
<div class="col-md-3"></div>
</div>