<div id="icalendar" class="table-responsive">
<div id="month">
  <%= link_to raw("<span class='glyphicon glyphicon-chevron-left'></span>"), date: @date.prev_month %>
  <%= @date.strftime("%b %Y") %>
  <%= link_to raw("<span class='glyphicon glyphicon-chevron-right'></span>"), date: @date.next_month %>
</div>
<%= calendar @date do |date| %>
  <%= date.day -%>
<% end -%>
</div>