<div class="center jumbotron home_margin">
  <h1><%= t("body.content") %></h1>
  <h2>个人文字记录与分享平台，致力于构建高质量的思想交流平台。加入我们一起开启智慧的盛宴。</h2>
  <% if user_signed_in? %>
    <button class="btn btn-lg btn-success">Good Chosen!</button>
  <% else %>
    <%= link_to t("body.signup"), new_user_registration_path, class: "btn btn-lg btn-primary" %>
  <% end -%>  
</div>