<div class="row login_margin">
<div class="col-md-3"></div>
<div class="col-md-5">
  <%= form_for(resource, :as => resource_name, :url => login_path, html: {class: "form-horizontal"}) do |f| %>
    <div class="form-group">
      <%= f.label :email, class: "col-lg-3 col-xs-3 control-label" %>
      <div class="col-lg-8 col-xs-6">
        <%= f.email_field :email, :autofocus => true, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :password, class: "col-lg-3 col-xs-3 control-label"%>
      <div class="col-lg-8 col-xs-6">
        <%= f.password_field :password, class: "form-control" %>
      </div>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="form-group">
        <div class="col-lg-offset-3 col-lg-9 col-sm-offset-3 col-xs-6">
          <div class="checkbox">
            <%= f.check_box :remember_me-%> <%= f.label :remember_me, class: "pull-left" -%>
          </div>
        </div>
      </div>
    <% end -%>
    <div class="form-group">
      <div class="col-lg-offset-3 col-lg-9 col-sm-offset-3 col-xs-6">
        <%= f.submit "Sign in", class: "btn btn-default pull-left" %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-offset-3 col-lg-9 col-sm-offset-3 col-xs-6">
        <%= render "devise/shared/links" %>    
      </div>
    </div>
  <% end %>
</div>
<div class="col-md-4"></div>
</div>