#icalendar .calendar {
  border-collapse: collapse;
  width: 100%;

  td, th {
    font-family: "Lucida Grande", arial, helvetica, sans-serif;
    padding: 6px;
    border: 3px solid #ddd;
    border-radius: 8px;
  }

  th {
    background: #DDD;
    font-size: 13px;
    color: #666;
    text-align: center;
    width: 14.2857142857143%;
  }

  td {
    background: #FFF;
    color: #777;
    height: 80px;
    vertical-align: top;
    font-size: 18px;
  }

  .notmonth, .notmonth a { color: #CCC; }
  .today { 
    background-color: #D7F2FF; 
    text-align: center;
    font-weight: bold;
    font-size: 26px;
  }
}

#icalendar #month {
  margin: 0;
  padding-bottom: 10px;
  text-align: center;
  font-size: 26px;
  a {
    text-decoration: none;
    padding: 0 10px;
    color: #BBB;
  }
}

#icalendar ul {
  font-size: 11px;
  padding-left: 20px;
}
