// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$lightGray: #999;

#logo {
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  &:hover {
    color: #fff;
    text-decoration: none;  
  };
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: $lightGray;
  a {
    color: $lightGray;
    &:hover{
      color: #222;
      text-decoration: none;     
    }
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
  small {
    float: left;
  }
}

.center {
  text-align: center;
  background-color: #f7f7f9;
  
  h1 {
    letter-spacing: -1px;
    font-weight: bold;
  }
  
  h2 {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: $lightGray;
  }
}

.home_margin {
  margin: 40px 0 100px 0;
}

/* login page */

.login_margin {
  margin: 100px 0 100px 0;
}