<footer class="footer">
  <small>&copy; 2013 <a href="https://bitbucket.org/zhulinpinyu/babytribe/src"> Xtribe </a></small>
  <nav>
    <ul>
      <li><%= link_to "中文版",  controller: controller.controller_name, action: controller.action_name, locale: "zh_CN" -%></li>
      <li><%= link_to "English", controller: controller.controller_name, action: controller.action_name, locale: "en" -%></li>
      <li><%= link_to t('footer.help'), help_path -%></li>
      <li><%= link_to t('footer.about'), about_path -%></li>
    </ul>
  </nav>
</footer>