<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to t('header.title'), root_path, id: "logo", class: "navbar-brand", title: "掃特部落" %>
    </div>
    
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class=<%= current_class(root_path) %>><%= link_to t('header.community'), root_path %></li>
        <li class=<%= current_class(calendar_path) %>><%= link_to t('header.calendar'), calendar_path %></li>
        <li class=<%= current_class(users_path) %>><%= link_to "Users", users_path %></li>
        <li ><%= link_to "Notes", "#" %></li>
      </ul>
      <ul class="nav navbar-nav pull-right">
        <% if user_signed_in? %>
            <li>
              <a href="#">
                <span class="glyphicon glyphicon-bell"></span>
                <span class="badge"></span>
              </a>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <%= current_user.username %> <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to t('user.home'), current_user %></li>
                <li><%= link_to t('user.profile'), edit_user_registration_path %></li>
                <li class="divider"></li>
                <li><%= link_to t('header.logout'), logout_path, method: :delete %></li>
              </ul>
            </li>
        <% else %>
          <li class="pull-right">
          <%= link_to t('header.signin'), login_path %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>